---
layout: default
---

<header class="clean" style="height: 450px; background-image: url({{ site.cover }});" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
	{% include top.html %}
	<div id="page-title" data-stellar-ratio="0.5">
		<a href="{{ site.url }}">
			<img src="{{ site.iconmedium }}" style="opacity:0.5;">
		</a>
	</div>
	<div id="post-info" style="bottom: 30px; text-align: center; line-height: 45px;" data-stellar-ratio="1.5">
		<h1>{{ page.title }}</h1>
	</div>
</header>
<div id="article">
	{{ content }}
</div>
{% if page.comments %}
<div id="comments">


	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'kunmingbeer';

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


</div>
{% endif %}
<footer class="clean" style="background-image: url({{ site.cover }}); background-position: bottom; height: 60px;">
	{% if page.lang == 'zh' %}
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright-zh.url }}" target="_blank">{{ site.copyright-zh.author }}</a>. <a href="{{ site.copyright-zh.type_url }}" target="_blank">{{ site.copyright-zh.type_title }}</a>.</p>
	{% else %}
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
	{% endif %}
</footer>